body {
  min-width: 300px;
  background: #333a41;
  color: white;
}

form {
  padding-inline: 20px;
  padding-bottom: 20px;

  label {
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    margin-block: 10px;
    align-content: center;
    align-items: center;
    position: relative;
  }

  input[type="checkbox"] {
    display: none;
  }

  .switch {
    background: #a7a7a7;
    width: 46px;
    height: 20px;
    border: 1px solid;
    border-radius: 25%/50%;

    &::before {
      background-color: #ffffff;
      bottom: 4px;
      content: " ";
      height: 14px;
      left: 4px;
      position: absolute;
      transition: 0.4s;
      width: 14px;
      border-radius: 50%;
    }
  }

  input:checked + .switch {
    background-color: #283d2f;
  }

  input:checked + .switch:before {
    transform: translateX(26px);
  }

  .switch.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }

  button {
    padding: 5px 10px;
    display: block;
    width: 100%;
    background: #3ca72a;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 20px;
  }

  .gutter-size-container {
    padding-block: 20px;

    input {
      width: 100%;
    }

    label {
      display: inline;
      padding: 0px 2px;
    }
    span {
      display: inline;
      float: right;
      padding: 0px 2px;
    }
  }
}

.footer{
  font-weight: 300;
  font-size: 11px;
  
  div {
    margin-bottom: 4px
  }

  a{
    color: #9fced9;
    text-decoration: none;
  }
}
