<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form>
      <h1>SN Blame Options</h1>

      <div>
        <label for="toggleLoadType">
          <span id="load-type-label">Start on click</span>
          <input type="checkbox" id="toggleLoadType" />
          <div class="switch"></div>
        </label>
      </div>

      <div>
        <label for="toggleUser">
          <span id="user-label">Show user</span>
          <input type="checkbox" id="toggleUser" />
          <div class="switch"></div>
        </label>
      </div>

      <div>
        <label for="toggleDate">
          <span id="date-label">Hide gutter date</span>
          <input type="checkbox" id="toggleDate" />
          <div class="switch"></div>
        </label>
      </div>

      <div>
        <label for="toggleWhitespace">
          <span id="whitespace-label">Ignore whitespace</span>
          <input type="checkbox" id="toggleWhitespace" />
          <div class="switch"></div>
        </label>
      </div>

      <div>
        <label for="toggleListHelper">
          <span id="list-helper-label">List script details on load</span>
          <input type="checkbox" id="toggleListHelper" />
          <div class="switch"></div>
        </label>
      </div>

      <div class="gutter-size-container">
        <input type="range" id="gutterSize" min="50" max="500" value="200" step="5"/>
        <label for="gutterSize">Gutter width</label>
        <span id="guttervalue"></span>
      </div>
    </form>
    <div class="sn-blame-button-container">
      <button id="sn-blame-load">LOAD BLAME</button>
      <button id="sn-blame-clear-cache">CLEAR SNBLAME CACHE</button>
    </div>
    <div role="complementary" class="footer">
      <div class="sn-blame-version">Version <%= require('../../manifest.json').version %> | Source Code <a target="_blank" href="https://github.com/amagnin/snblameextension" aria-label="Navigate Source Code"><img src="github.svg" alt="GitHub">SN Blame</a></div>
    </div>
  </body>
</html>
